@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --box-color: #ffffff93;
  --background-color: rgb(29, 29, 29);
  --box-color-completed: #00c0fbb4;
  --box-color-starred: var(--box-color);
  --box-color-completed-starred: var(--box-color-completed);
  --border-radius: 7px;
  --box-color-empty: linear-gradient(
    90deg,
    rgba(236, 236, 236, 0.333),
    rgba(236, 236, 236, 0.222) 53%,
    rgba(255, 255, 255, 0) 100%
  );
  --text-color: #2e2e2e;
  --total-items: 6;
}

input {
  border: none;
  background: none;
  text-align: center;
  font-family: initial;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  width: 100%;
  cursor: text;
}

input:focus {
  outline: none;
}

.selected {
  border-bottom: 2px var(--box-color);
  margin-bottom: -2px;
}

.clicked-button {
  background-color: rgba(254, 254, 254, 0.55);
  box-shadow: none;
  transform: scale(0.98);
  transform: translateY(3px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
}

html {
  box-sizing: border-box;
}
html body {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
html .top-bar {
  width: 100%;
  background-color: var(--box-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  user-select: none;
  -webkit-app-region: drag;
  font-size: large;
  justify-content: space-between;
  align-items: center;
}
html .top-bar .page-title {
  font-size: large;
  margin-right: 14px;
}
html .top-bar .top-bar-list {
  list-style: none;
  display: flex;
  gap: 5px;
}
html .top-bar .top-bar-list > * {
  padding-inline: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
}
html .top-bar .top-bar-list > *:hover {
  background-color: var(--box-color);
}
html .top-bar .top-bar-list > li > img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
html .top-bar .hidden {
  display: none;
}
html .top-bar .windows-buttons > li {
  height: 35px;
}
html .top-bar .function-list > li > img {
  border-radius: 5px;
}
html .top-bar .function-list > *:first-child:hover {
  background: none;
  cursor: default;
}
html main.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background: var(--background-color);
  padding: 50px;
  color: var(--text-color);
}
html main.main-wrapper .tabs {
  display: flex;
  width: 100%;
  height: 45px;
  max-width: 1120px;
  list-style: none;
  gap: 2px;
  border-bottom: 2px inset rgba(0, 0, 0, 0);
}
html main.main-wrapper .tabs .tab {
  cursor: pointer;
  background-color: var(--box-color);
  text-align: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  user-select: none;
  animation: tab-grow 300ms forwards;
}
html main.main-wrapper .tabs .tab.closing, html main.main-wrapper .tabs .tab.closing > * {
  animation: tab-close 300ms forwards;
}
html main.main-wrapper .tabs .tab > input {
  pointer-events: none;
}
html main.main-wrapper .tabs .tab > img {
  width: 20px;
  max-width: 20px;
  height: 20px;
  animation: tab-img-grow 300ms forwards;
}
html main.main-wrapper .tabs .tab.tab-completed {
  background-color: var(--box-color);
  background: linear-gradient(0deg, var(--box-color) 0%, var(--box-color-completed) 50%);
}
@keyframes tab-grow {
  0% {
    width: 0;
    padding: 0;
  }
  100% {
    width: inherit;
    padding: 10px;
  }
}
@keyframes tab-img-grow {
  0% {
    width: 0;
    padding: 0;
  }
  100% {
    width: 20px;
    max-width: 20px;
    height: 20px;
  }
}
@keyframes tab-close {
  0% {
    width: inherit;
    padding: inherit;
  }
  100% {
    width: 0%;
    padding: 0;
  }
}
html main.main-wrapper .tabs .add-tab {
  width: 40px !important;
  font-size: x-large;
  flex-grow: 0 !important;
  color: rgba(46, 46, 46, 0.7450980392);
}
html main.main-wrapper .build-version {
  position: absolute;
  bottom: 10px;
  right: 17px;
  color: #555;
}
html main.main-wrapper .content-wrapper {
  background-color: var(--box-color);
  padding: 30px;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template: "header header" "input items";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 6fr;
  gap: 30px;
  width: 100%;
  max-width: 70rem;
  height: min-content;
  position: relative;
}
html main.main-wrapper .content-wrapper .settings-input-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
html main.main-wrapper .content-wrapper .settings-input-wrapper .todo-input {
  grid-area: input;
  outline: none;
  border: none;
  background: var(--box-color);
  border-radius: var(--border-radius);
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  width: 100%;
  resize: none;
  flex-basis: 2;
  flex-grow: 2;
  position: relative;
}
html main.main-wrapper .content-wrapper .settings-input-wrapper .info {
  background-color: var(--box-color);
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  transition: 150ms ease;
  user-select: none;
}
html main.main-wrapper .content-wrapper .settings-input-wrapper .info.clear-button {
  cursor: pointer;
}
html main.main-wrapper .content-wrapper .settings-input-wrapper .info.clear-button > * {
  text-align: center;
  margin: auto;
}
html main.main-wrapper .content-wrapper .settings-input-wrapper .info > *:last-child {
  margin-left: auto;
}
html main.main-wrapper header {
  font-size: 2rem;
  grid-area: header;
  text-align: center;
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  padding: 10px;
  font-weight: 900;
  height: max-content;
}
html main.main-wrapper header .tab-title {
  background: none;
  text-align: center;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
}
html .todo-items {
  list-style: none;
  grid-area: items;
  display: grid;
  gap: 10px;
  height: calc(3.5rem * var(--total-items) + 10px * var(--total-items) - 10px);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: Y mandatory;
  scroll-behavior: smooth;
}
html .todo-items .item {
  scroll-snap-align: start;
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  padding: 10px;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: 500ms ease;
  opacity: 1;
  overflow: hidden;
}
html .todo-items .item .checkbox,
html .todo-items .item .checkbox-empty {
  height: 27px;
  width: 27px;
  position: absolute;
  cursor: pointer;
}
html .todo-items .item .deleteSVG {
  min-width: 35px;
  cursor: pointer;
}
html .todo-items .item .content {
  margin-left: 30px;
  flex-grow: 0;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
html .todo-items .item.completed > .content {
  position: relative;
  text-decoration: line-through;
}
html .todo-items .placeholder-item {
  background: var(--box-color-empty);
}
html .todo-items .placeholder-item > * {
  display: none;
}
html .fade-in {
  animation: item-fade-in 600ms forwards !important;
}
@keyframes item-fade-in {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  10% {
    opacity: 0;
  }
}
html .fade-out {
  animation: item-fade-out 600ms forwards;
}
html button {
  border: none;
  background: none;
  cursor: pointer;
}
html .completed {
  background-color: var(--box-color-completed) !important;
  transition: 200ms ease;
  animation: completed 500ms forwards;
}
html .starred {
  background-color: var(--box-color-starred) !important;
}
html .starred.completed {
  background-color: var(--box-color-completed-starred) !important;
}
html .star,
html .star-empty {
  height: 35px;
  min-width: 35px;
  cursor: pointer;
  margin-left: auto;
}
html .input-star {
  margin-bottom: -45px;
  opacity: 0.3;
  z-index: 10;
  user-select: none;
  -webkit-user-drag: none;
}
html .input-star:hover {
  opacity: 1;
}
@keyframes completed {
  50% {
    transform: scale(0.97);
  }
  80% {
    transform: scale(1.03);
  }
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 20px 20px var(--box-color);
  border: solid 4px transparent;
}

/*# sourceMappingURL=style.css.map */
