main.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  background: var(--background-color);
  /*   background: linear-gradient(
	  145deg,
	  rgb(140, 199, 239) 0%,
	  rgb(101, 160, 255) 49%,
	  rgb(207, 102, 252) 100%
	); */
  padding: 50px;
  color: var(--text-color);

  @import 'tab_list';

  .content-wrapper {
    background-color: var(--box-color);
    padding: 30px;
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template:
      'header header'
      'input items';

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;

    gap: 30px;
    width: 100%;
    max-width: 70rem;
    height: min-content;
    position: relative;

    .settings-input-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .todo-input {
        grid-area: input;
        outline: none;
        border: none;
        background: var(--box-color);
        border-radius: var(--border-radius);
        padding: 10px;
        font-family: 'Nunito', sans-serif;
        font-style: italic;
        width: 100%;
        resize: none;
        flex-basis: 2;
        flex-grow: 2;
        position: relative;
      }

      .info {
        background-color: var(--box-color);
        padding: 10px;
        border-radius: var(--border-radius);
        display: flex;
        transition: 150ms ease;
        user-select: none;

        &.clear-button {
          cursor: pointer;
          & > * {
            text-align: center;
            margin: auto;
          }
        }
        & > *:last-child {
          margin-left: auto;
        }
      }
    }
  }

  header {
    font-size: 2rem;
    grid-area: header;
    text-align: center;
    background-color: var(--box-color);
    border-radius: var(--border-radius);
    padding: 10px;
    font-weight: 900;
    height: max-content;

    .tab-title {
      background: none;
      text-align: center;
      border: none;

      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      font-size: large;
    }
  }
}
