.top-bar {
  width: 100%;
  background-color: var(--box-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  user-select: none;
  -webkit-app-region: drag;

  font-size: large;
  justify-content: space-between;
  align-items: center;
}

@keyframes tab-grow {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

@keyframes tab-close {
  0% {
    width: inherit;
    padding: inherit;
  }

  100% {
    width: 0%;
    padding: 0;
  }
}

@keyframes tab-img {
  0% {
    width: 0;
  }

  100% {
    width: 20px;
  }
}

.page-title {
  font-size: large;
}

.top-bar-list {
  list-style: none;
  display: flex;
  gap: 5px;
}

.top-bar-list > * {
  padding-inline: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 300ms ease-in-out;
}

.top-bar-list > *:hover {
  background-color: var(--box-color);
}

.top-bar-list > li > img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.windows-buttons > li {
  height: 35px;
}

.function-list > li > img {
  border-radius: 5px;
}

.function-list > *:first-child:hover {
  background: none;
  cursor: default;
}
